---
const today = new Date();
---

<footer>
    &copy; {today.getFullYear()} Madhva Fakare &nbsp;·&nbsp;
    <a href="mailto:madhva.fakare@cern.ch">madhva.fakare@cern.ch</a>
    &nbsp;·&nbsp;
    <a href="https://github.com/madhva8" target="_blank">GitHub</a>
</footer>

<style>
    footer {
        padding: 2em 1em 6em 1em;
        text-align: center;
        color: #666;
        font-size: 0.9rem;
    }

    footer a {
        color: #0070f3;
        text-decoration: none;
    }

    footer a:hover {
        text-decoration: underline;
    }
</style>